* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

#input-btn {
    padding: 10px 20px;
    background-color: #b73371;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

#output {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}